<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <description></description>
        <display-name>Browser</display-name>
        <servlet-name>Browser</servlet-name>
        <servlet-class>projectDataManagement.servlets.DataBrowserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Browser</servlet-name>
        <url-pattern>/Browser</url-pattern>
    </servlet-mapping>

</web-app>